# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

/vendor/**
!/vendor/vendor.json
.DS_Store
*.swp

node_modules
oci-metrics-datasource
dist/oci-plugin_*
coverage/
dist/
*_orig
.idea

#Ignore the built tar and zip files
*.tar
*.zip

yarn-error.log
