<h3 class="page-heading">OCI settings</h3>

<div class="gf-form-group">
  <div class="gf-form max-width-30">
    <label class="gf-form-label width-10">Environment</label>
    <select
      class="gf-form-input"
      ng-model="ctrl.current.jsonData.environment"
	    ng-required="true"
      ng-options="o as o for o in ctrl.getEnvironments()" >
    </select>   
  </div>
  <div class="gf-form max-width-30">
    <label class="gf-form-label width-10" ng-if="ctrl.current.jsonData.environment!=='OCI Instance'">Tenancy mode</label>
    <select
      class="gf-form-input"
      ng-model="ctrl.current.jsonData.tenancymode" ng-if="ctrl.current.jsonData.environment!=='OCI Instance'"
	    ng-required="true"
      ng-options="o as o for o in ctrl.getTenancyModes()" >
    </select>   
  </div>  
  <div class="gf-form max-width-30">
  <label class="gf-form-label width-10" ng-if="ctrl.current.jsonData.tenancymode!=='multitenancy'">Tenancy OCID</label>
    <input class="gf-form-input " 
		type="text" 
		ng-required="true"
    ng-model="ctrl.current.jsonData.tenancyOCID" ng-if="ctrl.current.jsonData.tenancymode!=='multitenancy'">
  </input>
  </div>

  <div class="gf-form-group">
    <div class="gf-form max-width-30">
      <label class="gf-form-label width-10">Default Region</label>
      <select
        class="gf-form-input"
        ng-model="ctrl.current.jsonData.defaultRegion"
        ng-required="true"
        ng-options="o as o for o in ctrl.getRegions()">
      </select>
    </div>
  
    <div class="gf-form-inline">
      <div class="gf-form max-width-15">
        <span class="gf-form-label width-7">User</span>
        <input type="text" class="gf-form-input" name="user"
          ng-model='ctrl.current.secureJsonData.user'
          placeholder="{{ctrl.current.secureJsonFields.basicAuth ? 'configured' : ''}}"></input>
      </div>
      <div class="gf-form max-width-15">
        <span class="gf-form-label width-7">Password</span>
        <input type="password" class="gf-form-input" name="password" ng-model='ctrl.current.secureJsonData.password' ng-change="ctrl.onAuthChange()"
          placeholder="{{ctrl.current.secureJsonFields.basicAuth ? 'configured' : ''}}"></input>
      </div>
    </div>
    <div class="gf-form max-width-30">
      <span class="gf-form-label width-7">Cloud Token</span>
      <input type="text" class="gf-form-input" name="token" ng-model='ctrl.current.secureJsonData.token'
        placeholder="{{ctrl.current.secureJsonFields.token ? 'configured' : ''}}"></input>
    </div>
  </div>

</div>