<query-editor-row query-ctrl="ctrl" datasource="ctrl.datasource" class="generic-datasource-query-row" has-text-edit-mode="true">
    <div class="gf-form" ng-if="ctrl.target.rawQuery">
      <textarea class="gf-form-input" rows="5" ng-model="ctrl.target.target" spellcheck="false" ng-blur="ctrl.onChangeInternal()"></textarea>
    </div>
    <div ng-if="!ctrl.target.rawQuery">
      <div class="gf-form-inline">
        <div class="gf-form">
          <label class="gf-form-label query-keyword">TenancyConfig</label>
          <div class="gf-form-select-wrapper width-10">
            <gf-form-dropdown
              model="ctrl.target.tenancyconfig"
              get-options="ctrl.getTenancyConfig()"
              on-change="ctrl.onChangeInternal()">
            </gf-form-dropdown>
          </div>
          <label class="gf-form-label query-keyword">Region</label>
          <div class="gf-form-select-wrapper width-10">
            <gf-form-dropdown
              model="ctrl.target.region"
              get-options="ctrl.getRegions()"
              on-change="ctrl.onChangeInternal()">
            </gf-form-dropdown>
          </div>          
          <label class="gf-form-label query-keyword width-10">Compartment</label>
          <div class="gf-form-select-wrapper width-10">
            <gf-form-dropdown
              model="ctrl.target.compartment"
              get-options="ctrl.getCompartments()"
              on-change="ctrl.onChangeInternal()">
            </gf-form-dropdown>
          </div>
          <label class="gf-form-label query-keyword width-10">Namespace</label>
          <div class="gf-form-select-wrapper width-10">
			<gf-form-dropdown
			  model="ctrl.target.namespace"
			  get-options="ctrl.getNamespaces()"
			  on-change="ctrl.onChangeInternal()">
            </gf-form-dropdown>
          </div>
          <label class="gf-form-label query-keyword width-10">ResourceGroup</label>
          <div class="gf-form-select-wrapper width-10">
            <gf-form-dropdown
                    model="ctrl.target.resourcegroup"
                    get-options="ctrl.getResourceGroups()"
                    on-change="ctrl.onChangeInternal()">
            </gf-form-dropdown>
          </div>
        </div>
       <div class="gf-form gf-form--grow">
        <div class="gf-form-label gf-form-label--grow"></div>
       </div>
      </div>
      <div class="gf-form-inline">
        <div class="gf-form">
          <label class="gf-form-label query-keyword">Metric</label>
          <div class="gf-form-select-wrapper width-10">
            <gf-form-dropdown
              model="ctrl.target.metric"
              get-options="ctrl.getMetrics()"
              on-change="ctrl.onChangeInternal()">
            </gf-form-dropdown>
          </div>
        </div>
        <div class="gf-form">
          <label class="gf-form-label width-10 query-keyword">Aggregation</label>
          <div class="gf-form-select-wrapper width-10">
            <gf-form-dropdown
              model="ctrl.target.aggregation"
              get-options="ctrl.getAggregations()"
              on-change="ctrl.onChangeInternal()"
              allow-custom="true" >
            </gf-form-dropdown>
          </div>
        </div>
        <div class="gf-form">
          <label class="gf-form-label query-keyword">Window</label>
          <div class="gf-form-select-wrapper width-10">
            <gf-form-dropdown
              model="ctrl.target.window"
              get-options="ctrl.getWindows()"
              on-change="ctrl.onChangeInternal()"
            />
          </div>
        </div>
        <div class="gf-form">
          <label class="gf-form-label query-keyword">Resolution</label>
          <div class="gf-form-select-wrapper width-10">
            <gf-form-dropdown
                    model="ctrl.target.resolution"
                    get-options="ctrl.getResolutions()"
                    on-change="ctrl.onChangeInternal()">
            </gf-form-dropdown>
          </div>
        </div>
      </div>
     <div class="gf-form-inline">
       <div class="gf-form">
         <label class="gf-form-label query-keyword width-8">Dimensions</label>
       </div>
       <div class="gf-form" ng-repeat="segment in ctrl.dimensionSegments">
        <metric-segment
          segment="segment"
          get-options="ctrl.getDimensionOptions(segment, $index)"
          on-change="ctrl.onDimensionsChange(segment, $index)"
        >
        </metric-segment>
      </div>
      <div class="gf-form gf-form--grow">
		<div class="gf-form-label gf-form-label--grow"></div>
	  </div>
     </div>
</query-editor-row>
