<query-editor-row query-ctrl="ctrl" datasource="ctrl.datasource" class="generic-datasource-query-row" has-text-edit-mode="true">
    <div class="gf-form" ng-if="ctrl.target.rawQuery">
      <textarea class="gf-form-input" rows="5" ng-model="ctrl.target.target" spellcheck="false" ng-blur="ctrl.onChangeInternal()" />
    </div>
    <div ng-if="!ctrl.target.rawQuery">
      <div class="gf-form-inline">
        <div class="gf-form">
          <label class="gf-form-label query-keyword">Region</label>
          <select
            class="gf-form-input width-10"
            ng-model="ctrl.target.region"
            ng-options="o as o for o in ctrl.getRegions()"
            on-change="ctrl.onChangeInternal()">
          </select>
          <label class="gf-form-label query-keyword width-10">Compartment</label>
          <div class="gf-form-select-wrapper width-10">
            <gf-form-dropdown model="ctrl.target.compartment"
              allow-custom="true"
              lookup-text="true"
              get-options="ctrl.getCompartments()"
              on-change="ctrl.onChangeInternal()">
            </gf-form-dropdown>
          </div>
          <label class="gf-form-label query-keyword width-10">Namespace</label>
          <div class="gf-form-select-wrapper width-10">
			<gf-form-dropdown
			  model="ctrl.target.namespace"
			  get-options="ctrl.getNamespaces()"
			  on-change="ctrl.onChangeInternal()">
            </gf-form-dropdown>
          </div>
          <div class="gf-form">
            <label class="gf-form-label width-10">Resolution</label>
            <input type="text" class="input-small gf-form-input width-5" ng-model="ctrl.target.resolution" ng-change="ctrl.onChangeInternal()" placeholder="1m"/>
          </div>
        </div>
       <div class="gf-form gf-form--grow">
        <div class="gf-form-label gf-form-label--grow"></div>
       </div>
      </div>
      <div class="gf-form-inline">
        <div class="gf-form">
          <label class="gf-form-label query-keyword">Metric</label>
          <div class="gf-form-select-wrapper width-10">
            <gf-form-dropdown
              model="ctrl.target.metric"
              get-options="ctrl.getMetrics()"
              on-change="ctrl.onChangeInternal()">
            </gf-form-dropdown>
          </div>
        </div>
        <div class="gf-form">
          <label class="gf-form-label width-10">Aggregation</label>
          <div class="gf-form-select-wrapper width-10">
            <select
              class="gf-form-input"
              ng-model="ctrl.target.aggregation"
              ng-options="o as o for o in ctrl.getAggregations()"
              ng-change="ctrl.onChangeInternal()">
            </select>
          </div>
        </div>
        <div class="gf-form">
          <label class="gf-form-label query-keyword width-10">Window</label>
          <div class="gf-form-select-wrapper max-width-20">
            <select
              class="gf-form-input"
              ng-model="ctrl.target.window"
              ng-options="o as o for o in ctrl.getWindows()"
              ng-change="ctrl.onChangeInternal()">
            </select>
          </div>
        </div>
      </div>
     <div class="gf-form-inline">
       <div class="gf-form">
         <label class="gf-form-label query-keyword width-8">Dimensions</label>
       </div>
       <div class="gf-form" ng-repeat="segment in ctrl.tagSegments">
        <metric-segment segment="segment"
          get-options="ctrl.getTagsOrValues(segment, $index)"
          on-change="ctrl.tagSegmentUpdated(segment, $index)"
        >
        </metric-segment>
      </div>
      <div class="gf-form gf-form--grow">
		<div class="gf-form-label gf-form-label--grow"></div>
	  </div>
     </div>
</query-editor-row>
